.navbar-default {
  background-color: #2A2C2B;
  height: 60px; }
  .navbar-default .navbar-brand {
    color: white;
    margin-right: 20px; }
  .navbar-default .navbar-brand:hover {
    color: white; }
  .navbar-default .navbar-nav > li {
    padding-left: 10px;
    padding-right: 10px; }
  .navbar-default .navbar-nav > li:hover a {
    background-color: #2A2C2B;
    border-bottom: 4px solid white; }
  .navbar-default .navbar-nav > li > a {
    color: white;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 5px; }
  .navbar-default .navbar-nav > li > a:hover {
    color: white; }
  .navbar-default .navbar-nav > .active:hover a {
    background-color: #2A2C2B;
    color: white; }
  .navbar-default .navbar-nav > .active > a {
    color: white;
    background-color: #2A2C2B;
    border-bottom: 4px solid white; }
  .navbar-default .navbar-nav > .active:hover > a {
    color: white; }
  .navbar-default .navbar-nav > .open > a {
    color: white;
    background-color: #2A2C2B; }
  .navbar-default .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-default .navbar-nav > .open > a:hover {
    color: white;
    background-color: #2A2C2B; }
  .navbar-default .navbar-nav .dropdown.open > a {
    color: white;
    background-color: #2A2C2B; }
  .navbar-default .dropdown-menu > li > a {
    background-color: #fff !important; }

.sidebar {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: auto;
  padding: 0; }
  .sidebar header {
    height: 50px;
    line-height: 50px;
    padding-left: 10px;
    background-color: #2A2C2B;
    color: white; }
    .sidebar header a {
      display: inline-block;
      padding-left: 5px;
      padding-right: 5px;
      margin-right: 3px;
      color: white; }
    .sidebar header a.active {
      background-color: #374140; }
    .sidebar header a:hover {
      background-color: #374140;
      cursor: pointer;
      text-decoration: none; }
    .sidebar header p {
      margin-bottom: 0; }
  .sidebar .sidebarDate {
    clear: both;
    width: 100%;
    height: 25px;
    line-height: 25px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #374140;
    color: white;
    text-align: left; }
  .sidebar .sidebarMatch {
    clear: both;
    width: 100%;
    position: relative;
    overflow: hidden;
    display: table; }
    .sidebar .sidebarMatch:nth-child(even) {
      background-color: #EFF2F4; }
    .sidebar .sidebarMatch:nth-child(odd) {
      background-color: #FFFFFF; }
    .sidebar .sidebarMatch .sidebarMatchBoxart {
      display: inline-block;
      padding-left: 10px;
      padding-top: 10px;
      padding-bottom: 9px;
      float: left;
      width: 15%;
      position: relative;
      overflow: hidden;
      display: table-cell; }
    .sidebar .sidebarMatch .sidebarMatchBoxart img {
      width: 50px;
      height: auto; }
    .sidebar .sidebarMatch .sidebarMatchInfo {
      display: inline-block;
      padding-bottom: 20px;
      padding-top: 10px;
      padding-left: 10px;
      float: left;
      width: 60%;
      position: relative;
      border-right: 1px solid black;
      display: table-cell; }
      .sidebar .sidebarMatch .sidebarMatchInfo p {
        margin-bottom: 0; }
    .sidebar .sidebarMatch .sidebarMatchScore {
      display: inline-block;
      text-align: center;
      padding-bottom: 10px;
      padding-top: 10px;
      float: left;
      width: 25%;
      position: relative;
      overflow: hidden;
      display: table-cell; }
    .sidebar .sidebarMatch .sidebarMatchScoreItem {
      display: inline-block;
      width: auto;
      color: white;
      background-color: #DC3522;
      padding: 5px 10px;
      border-radius: 5px; }

<<<<<<< HEAD
.game {
  margin: 5px; }
=======
.mySlides {
  display: none; }

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto; }

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0; }

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px; }

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8); }

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center; }

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0; }

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease; }

.active, .dot:hover {
  background-color: #717171; }

/* Fading animation */
.fading {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s; }

@-webkit-keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }

@keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next, .text {
    font-size: 11px; } }
>>>>>>> Home-newsslider
